!!!5
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",href="bootstrap3.min.css")
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="jquery-1.10.2.min.js")
    script(type="text/javascript",src="bootstrap3.min.js")
    script(type="text/javascript",src="index.js")
  body
    #timer 
    a#toggle.btn.btn-primary(onclick="toggle()") RUN
